<head>
	{% if site.google_analytics %}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', '{{ site.google_analytics }}');
	</script>
	{% endif %}
	
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
	<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
		integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">

	<!-- Snap Pixel Code -->
	<script type='text/javascript'>
	(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
	{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
	a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
	r.src=n;var u=t.getElementsByTagName(s)[0];
	u.parentNode.insertBefore(r,u);})(window,document,
	'https://sc-static.net/scevent.min.js');

	snaptr('init', '9dee18ec-8323-4c6e-894b-e8a22fd5b0de', {});

	snaptr('track', 'PAGE_VIEW');

	</script>
	<!-- End Snap Pixel Code -->
</head>
